<!-- <header class="p-3 text-bg-dark"> -->
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <img src="https://en.gravatar.com/userimage/11516795/eaa8aed3d1bfa3f88bc6de1ef3b64c5d.png?size=48" alt="">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
      <li class="nav-item dropdown">
        <a class="nav-link px-2 text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         Start Here
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Article 1</a></li>
          <li><a class="dropdown-item" href="#">Article 2</a></li>
          <li><a class="dropdown-item" href="#">Article 3</a></li>
        </ul>
      </li>
        <li><a href="#" class="nav-link px-2 text-white">Articles</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link px-2 text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Code Snippets
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
        <input
          type="search"
          class="form-control form-control-dark text-bg-dark"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <!-- <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">
          Login
        </button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div> -->
    </div>
  </div>
<!-- </header> -->