<div class="row">
  <div class="col col-12 col-md-3 col-lg-3 col-xl-2">
    <ul id="home-articles-filter" class="nav flex-column nav-pills mb-5">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="all-articles-tab"
          data-bs-toggle="tab"
          data-bs-target="#all-articles-content"
          role="tab"
          aria-controls="all-articles-content"
          aria-selected="true"
          href="#"
          >All Articles</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="angular-articles-tab"
          data-bs-toggle="tab"
          data-bs-target="#angular-articles-content"
          role="tab"
          aria-controls="angular-articles-content"
          aria-selected="false"
          href="#"
          ><i class="fa-brands fa-angular fa-2xl"></i> Angular</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><i class="fa-brands fa-react fa-2xl"></i> React</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><i class="fa-brands fa-js fa-2xl"></i> JavaScript</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link disabled"
          ><i class="fa-brands fa-css3-alt fa-2xl"></i> CSS3</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#home"
          ><i class="fa-brands fa-wordpress-simple fa-2xl"></i> WordPress</a
        >
      </li>
    </ul>
  </div>

  <div class="col col-12 col-md-9 col-lg-6 col-xl-7">
    <h2 class="fw-light mb-5">
      <small>All about</small>
      <strong class="fw-bold">Frontned Development</strong>
      <small>and</small>
      <strong class="fw-bold">Blogging</strong>
    </h2>

    <div class="tab-content">
      <div
        class="tab-pane fade show active"
        id="all-articles-content"
        role="tabpanel"
        aria-labelledby="all-articles-tab"
        tabindex="0"
      >
        Content - All Articles
      </div>
      <div
        class="tab-pane fade"
        id="angular-articles-content"
        role="tabpanel"
        aria-labelledby="angular-articles-tab"
        tabindex="0"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="messages"
        role="tabpanel"
        aria-labelledby="messages-tab"
        tabindex="0"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="settings"
        role="tabpanel"
        aria-labelledby="settings-tab"
        tabindex="0"
      >
        ...
      </div>
    </div>
  </div>

  <div class="col col-12 col-lg-3 col-xl-3 d-none d-lg-block">
    <img src="//dummyimage.com/250x250/e3e3e3/c7c7c7" alt="sponsor-1" />
  </div>
</div>
